{% extends 'base.html' %}
{% load static %}

{% block head %}
    <meta name="description" content="Error {{ codigo }}">

    <meta property="og:site_name" content="127.0.0.1">
    <meta property="og:url" content="{{ request.get_full_path }}">
    <meta property="og:type" content="video">
    <!-- <meta property="og:image" content="/media/{{anime.imagen}}"> -->
    <meta property="og:title" content="Error {{ codigo }}">
    <meta property="og:description" content="Error {{ codigo }}">
    <link rel="stylesheet" href="{% static 'css/refactor/not_found.css' %}">
    <title>127.0.0.1 | Error {{ codigo }}</title>
{% endblock %}

{% block content %}

<div class="main__wrapper">
    <div class="path-error">
        <div class="imagen">
            <img loading="lazy" src="/media/errores/404.gif" alt="Error {{ codigo }}">
        </div>
        <div class="contenido">
            <h1>{{ titulo }}</h1>
            <p>{{ mensaje }}</p>
            <p>Puedes regresar al <a href="/">inicio</a> o seguir intentando.</p>
        </div>
    </div>
</div>
{% endblock %}