{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/refactor/formularios.css' %}">
    <title>Cambiar Contraseña | 127.0.0.1</title>
{% endblock %}

{% block content %}

<main>
    <div class="center-container">
        <div class="form-wrapper">
            <div class="form-image">
                <img class="img-accounts" src="/media/icons/password.gif" alt="Iniciar Sesion" width="150px" height="150px">
            </div>
            <div class="form-title">
                <h1>Recuperar Contraseña</h1>
            </div>
            <div class="form-description">
                <p>Por favor ingresa tu nueva contraseña</p>
            </div>
            {% if form.errors %}
                <div class="form-errors">
                    {% if form.errors.new_password2 %}
                        {{ form.errors.new_password2 }}
                    {% endif %}
                </div>
            {% endif %}
            <div class="form-content">
                <form method="POST" id="form">
                    {% csrf_token %}
                    {{ form.new_password1 }}
                    {{ form.new_password2 }}
                    <input value="Cambiar Contraseña" type="submit" id="submit_details">
                </form>
            </div>
        </div>
    </div>
</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{% static 'js/forms.js' %}"></script>
{% endblock %}