{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/refactor/formularios.css' %}">
    <title>Recuperar Usuario o Contraseña | 127.0.0.1</title>
{% endblock %}

{% block content %}

<main>
    <div class="center-container">
        <div class="form-wrapper">
            <div class="form-image">
                <img class="img-accounts" src="/media/icons/duda.gif" alt="Iniciar Sesion" width="150px" height="150px">
            </div>
            <div class="form-title">
                <h1>Recuperar Usuario o Contraseña</h1>
            </div>
            <div class="form-description">
                <p>¿Olvidaste tu usuario o contraseña?</p>
                <p>Ingresa el email de tu cuenta para enviarte instrucciones y asi recuperar tu cuenta</p>
            </div>
            <div class="form-content">
                <script src="https://www.google.com/recaptcha/api.js" async defer></script>
                <form action="" method="POST" id="form">
                    {% csrf_token %}
                    {{ password_reset_form.email }}
                    <div class="g-recaptcha" data-sitekey="6LcevyMeAAAAAAOVCuzUblGPgcTT1VIEP9UrT4Jx" data-callback="enableBtn"></div>
                    <p id="mensaje">Verifica que eres humano</p>
                    <input style="background-color: #b5b5b5;" value="Enviar" type="submit" id="submit_details" disabled>
                </form>
            </div>
            <div class="form-links">
                <p><a href="/cuenta/iniciar-sesion/" disabled>Volver a iniciar sesión</a></p>
            </div>
        </div>
    </div>
</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{% static 'js/forms.js' %}"></script>

{% endblock %}