{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/refactor/formularios.css' %}">
    <title>Email de recuperación enviado | 127.0.0.1</title>
{% endblock %}

{% block content %}

<main>
    <div class="center-container">
        <div class="form-wrapper">
            <div class="form-image">
                <img class="img-accounts" src="/media/icons/email_enviado.gif" alt="Iniciar Sesion" width="150px" height="150px">
            </div>
            <div class="form-title">
                <h1>Restablecimiento de usuario o contraseña enviado</h1>
            </div>
            <div class="form-description">
                <p>¡Te hemos enviado instrucciones para el restablecimiento de tu contraseña o para saber tu usuario!</p>
                <p>Si una cuenta existe con el email que has ingresado, deberias recibir un mensaje pronto.</p>
                <p>Por favor, si no lo has recibido revisa que ingresaste el email de forma correcta <br>o revisa la carpeta de spam.</p>
            </div>
            <div class="form-links">
                <p><a href="/cuenta/iniciar-sesion/" disabled>Volver a iniciar sesión</a></p>
            </div>
        </div>
    </div>
</main>
{% endblock %}