{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/refactor/formularios.css' %}">
    <title>Contraseña Cambiada | 127.0.0.1</title>
{% endblock %}

{% block content %}

<main>
    <div class="center-container">
        <div class="form-wrapper">
            <div class="form-image">
                <img class="img-accounts" src="/media/icons/exitoso.png" alt="exitoso" width="150px" height="150px">
            </div>
            <div class="form-title">
                <h1>¡Restablecimiento de contraseña completado!</h1>
            </div>
            <div class="form-description">
                <p>Has cambiado exitosamente tu contraseña.</p>
            </div>
            <div class="form-links">
                <p><a href="/cuenta/iniciar-sesion/" disabled>Volver a iniciar sesión</a></p>
            </div>
        </div>
    </div>
</main>
{% endblock %}